
<div class="row">
    <div class="col-12">
        <table class="table table-bordered">
             <thead>
                <tr>
                    <th>ID</th>
                    <th>Nombre</th>
                    <th>Acciónes</th>
                </tr>
            </thead>
                
            <tbody>
                <tr *ngFor="let dato of datos">
                    <td>{{dato.id}}</td>
                    <td>{{dato.nombre}} </td>
                    <td>
                        <mat-icon [routerLink]="'/categorias/edit-categorias/'+dato.id">edit</mat-icon>
                        <mat-icon (click)="deleteCategoriaById(dato.id)" >delete_forever</mat-icon>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<button type="button" class="btn btn-primary" (click)="openModal()">Abrir Modal</button>
<div class="row">
    <div class="col-12">
        <div class="modal" [ngClass]="{ 'modal-open': showModal }">
            <div class="modal-content">
                <div class="modal-header">
                <h4 class="modal-title">Modal con formulario</h4>
                <button type="button" class="close" aria-label="Close" (click)="closeModal()">
                    <span aria-hidden="true">&times;</span>
                </button>
                </div>
                <div class="modal-body">
                <form (ngSubmit)="submitForm()">
                    <div class="form-group">
                    <label for="nombre">Nombre:</label>
                    <input type="text" class="form-control" id="nombre" name="nombre" [(ngModel)]="nombre" required="true">
                    </div>
                    <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" (click)="closeModal()">Cerrar</button>
                    <button type="submit" class="btn btn-primary">Enviar</button>
                    </div>
                </form>
                </div>
            </div>
        </div>
    </div>    
</div>